<a href="https://colab.research.google.com/github/2303A51529/ADM-LAB/blob/main/LAB_O6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
data={'A', 'B', 'C', 'A', 'D', 'E', 'F', 'G', 'H', 'A'}
df = pd.DataFrame(data, columns=['Category'])
label_encoder=LabelEncoder()
df['label_Encoded']=label_encoder.fit_transform(df['Category'])
one_hot_encoded=  pd.get_dummies(df['Category'])
df=pd.concat([df,one_hot_encoded],axis=1)
print(df)

  Category  label_Encoded      A      B      C      D      E      F      G  \
0        B              1  False   True  False  False  False  False  False
1        E              4  False  False  False  False   True  False  False
2        H              7  False  False  False  False  False  False  False
3        D              3  False  False  False   True  False  False  False
4        A              0   True  False  False  False  False  False  False
5        C              2  False  False   True  False  False  False  False
6        F              5  False  False  False  False  False   True  False
7        G              6  False  False  False  False  False  False   True

       H
0  False
1  False
2   True
3  False
4  False
5  False
6  False
7  False

In [5]:
from datetime import datetime
data2={'Name':['phanikumar', 'saikumar', 'saiteja', 'Shiva'], 'DOB':['2005-04-06', '2004-07-07', '2005-09-28', '2005-07-03']}
df2=pd.DataFrame(data2)
df2['Date_of_Birth'] = pd.to_datetime(df2['DOB'])
current_year = datetime.now().year
df2['Age'] = current_year - df2['Date_of_Birth'].dt.year
print(df2)

         Name         DOB Date_of_Birth  Age
0  phanikumar  2005-04-06    2005-04-06   20
1    saikumar  2004-07-07    2004-07-07   21
2     saiteja  2005-09-28    2005-09-28   20
3       Shiva  2005-07-03    2005-07-03   20

In [6]:
data3={'Names':['phanikumar', 'sagar', 'Jeevan', 'abhinav'],
       'Marks':[98,69,41,42]}
df3=pd.DataFrame(data3)
grouped = df3.groupby('Names').agg({'Marks': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
pivot = df3.pivot_table(index='Names', values='Marks', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
            Marks
             sum  mean
Names
Jeevan        41  41.0
abhinav       42  42.0
phanikumar    98  98.0
sagar         69  69.0

Pivot Table:
              sum  mean
           Marks Marks
Names
Jeevan        41  41.0
abhinav       42  42.0
phanikumar    98  98.0
sagar         69  69.0